@charset "UTF-8";
body, html {
  padding: 1rem;
}

#game-container {
  float: left;
  border: 1px solid #CCC;
  margin-bottom: 10px;
  padding: 15px;
}

.row {
  display: flex;
}

.cell {
  width: 35px;
  height: 25px;
  border: 1px solid #CCC;
  padding: 10px 5px 5px 5px;
  background-color: #EEE;
  font-size: 16px;
  text-align: center;
  box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.cell::-moz-selection {
  background: transparent;
}

.cell::selection {
  background: transparent;
}

.cell.revealed, .cell.flagged {
  cursor: default;
}

.cell.revealed {
  background-color: #DDD;
  box-shadow: none;
}

.cell.revealed.adj-1 {
  color: blue;
}

.cell.revealed.adj-2 {
  color: green;
}

.cell.revealed.adj-3 {
  color: red;
}

.cell.revealed.adj-4 {
  color: purple;
}

.cell.revealed.adj-5 {
  color: maroon;
}

.cell.revealed.adj-6 {
  color: turquoise;
}

.cell.revealed.adj-7 {
  color: black;
}

.cell.revealed.adj-8 {
  color: white;
}

.cell.revealed.adj-M {
  font-family: "FontAwesome";
  background-color: #FFCCCC;
}
.cell.revealed.adj-M:after {
  content: url(./bomb.com.png);
}

.cell.flagged {
  font-family: "FontAwesome";
}
.cell.flagged:after {
  content: url(./flag.com.png);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.status_msg {
  margin-bottom: 10px;
}

input[type=number] {
  width: 50px;
}